input[type=checkbox] + label{
    display:block;
    margin:0.2em;
    cursor:pointer;
    padding:0.2em;

}

input[type=checkbox]{
    display:none;
}

input[type=checkbox] + label:before{
    content:"\2714";
    border:0.1em solid #c8a0b2;
    border-radius: 0.2em;
    display:inline-block;
    width:1em;
    padding-left:0.2em;
    padding-bottom:0.3em;
    margin-right:0.6em;
    vertical-align:bottom;
    color:transparent;
    transition:.2s;
}
input[type=checkbox] + label:active:before {
    transform:scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: #c08aa0;
    border-color:#c08aa0;
    color:#fff;

}

input[type=checkbox]:disabled + label:before{
    transform:scale(1);
    border-color:#aaa;

}

input[type=checkbox]:checked:disabled + label:before{
    transform:scale(1);
    background-color:#bfb;
    border-color:#bfb

}

.box{
    width: 1000px;
    background-color: #f7eef2;
    margin-left: 10px;
    padding: 20px;
    border-radius: 5px;
    margin-top:2em;
    margin-bottom:4em;
    margin-left: auto;
    margin-right: auto;
    color: #2f2a2c;
    text-align: left;
    box-shadow: 10px 10px 5px grey;
}

.container{
    margin-left: auto;

}

@media screen and (max-width: 430px) {
    .box {
        width: 92vw;
        padding: 16px;
        box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    }
}
